<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
















<!--<div class="liemzoPaginaCompleta">
    <div class="tituloWeb">
        PELIS MIU
    </div>

    <div class="barraSuperior">
        <ul class="punteroMausePointer">
            <li>
                <a routerLink="inicio" style="align-content: center ;">
                    <img class="imagenLogoRedondeado punteroMauseDefault" src="./assets/LogoPelismiu.png" />
                </a>
            </li>
            <li>
                <a routerLink="inicio">INICIO</a>
            </li>
            <li>
                <a routerLink="gratis">GRATIS</a>
            </li>
            <li>
                <a routerLink="peliculas">PELÍCULAS</a>
            </li>
            <li>
                <a routerLink="series">SERIES</a>
            </li>
            <li>
                <a routerLink="buscar">BUSCAR</a>
            </li>
            <li>
                <a routerLink="login">LOG IN</a>
            </li>
            <li>
                <a routerLink="logout">LOG OUT</a>
            </li>
            <li>
                <a routerLink="signup">SIGN UP</a>
            </li>
            <li>
                <a routerLink="perfil">PERFIL</a>
            </li>
            <li>
                <a routerLink="configuracion">
                    <img class="imagenLogoRedondeado" style="scale: 0.2 !important; border-radius: 0px !important;" src="./assets/RuedaConfiguracion.png" />
                </a>
            </li>
        </ul>
    </div>
</div>-->