<div>
    <ul>
        <li>
            <a routerLink="logo" style="align-content: center ;">LOGO</a>
        </li>
        <li>
            <a routerLink="inicio">INICIO</a>
        </li>
        <li>
            <a routerLink="gratis">GRATIS</a>
        </li>
        <li>
            <a routerLink="peliculas">PELÍCULA</a>
        </li>
        <li>
            <a routerLink="series">SERIES</a>
        </li>
        <li>
            <a routerLink="buscar">BUSCAR</a>
        </li>
        <li>
            <a routerLink="login">LOG IN</a>
        </li>
        <li>
            <a routerLink="logout">LOG OUT</a>
        </li>
        <li>
            <a routerLink="signup">SIGN UP</a>
        </li>
        <li>
            <a routerLink="perfil">PERFIL</a>
        </li>
        <li>
            <a routerLink="configuracion">CONFIGURACIÓN</a>
        </li>
    </ul>
</div>