<mat-toolbar class="myClass">
    <button md-raised-button color="primary">hola</button>
    <button md-raised-button color="primary">hola</button>
    <ul>
        <a routerLink="">LOGO</a>
    </ul>
    <ul>
        <a routerLink="inicio">INICIO</a>
    </ul>
    <ul>
        <a routerLink="gratis">GRATIS</a>
    </ul>
    <ul>
        <a routerLink="peliculas">PELÍCULAS</a>
    </ul>
    <ul>
        <a routerLink="series">SERIES</a>
    </ul>
    <ul>
        <a routerLink="buscar">BUSCAR</a>
    </ul>
    <ul>
        <a routerLink="login">LOGIN</a>
    </ul>
    <ul>
        <a routerLink="logout">LOGOUT</a>
    </ul>
    <ul>
        <a routerLink="signup">SIGNUP</a>
    </ul>
    <ul>
        <a routerLink="perfil">PERFIL</a>
    </ul>
    <ul>
        <a routerLink="configuracion">CONFIGURACION</a>
    </ul>
</mat-toolbar>